* {
    color: #2d3c49;
    font: normal 400 16px 'Lato', sans-serif;
}

body {
  padding-top: 70px;
}

.header-logo {
    height: 20px;
}

.form-sign {
    max-width: 330px;
    margin: 0 auto
}

textarea {
    height: 150px; 
    min-height: 150px;  
    max-height: 150px;
}

.comment {
    height: 80px; 
    min-height: 80px;  
    max-height: 80px;
}

.article-body {
    padding: 15px;
    word-wrap: break-word;
}

.header-btn {
    padding-right: 15px;
}

.dropdown-menu {
    min-width: 100px;
}

@media (min-width: 768px) {
    .header-btn {
        padding-right: 0;
    }   
}
