* {
    color: #2d3c49;
    font: normal 400 16px 'Lato', sans-serif;
}

body {
  padding-top: 70px;
}

.header-logo {
    height: 20px;
}

.form-sign {
    max-width: 330px;
    margin: 0 auto
}

textarea {
    height: 150px; 
    min-height: 150px;  
    max-height: 150px;
}

.article-body {
    padding: 15px;
    word-wrap: break-word;
}