body {
  padding-top: 70px;
}

.header-logo {
    height: 20px;
}

/*
.navbar-default {
    background-color: #428bca;
}
*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.form-sign {
    max-width: 330px;
    margin: 0 auto
}

textarea {
    height: 150px; 
    min-height: 150px;  
    max-height: 150px;
}