{% extends "base.html" %}

{% block content %}
    
    <form method="post">
        <label>
            <div>Title</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        <label>
            <div>Art</div>
            <textarea name="art" width="400px" height="200px">{{art}}</textarea>
        </label>
        <div class="error">
            {{error}}
        </div>
        <input type="submit">
    </form>

    <hr>

    {% for art in arts %}
        <div class="art">
            <div class="art-title">{{art.title}}</div>
            <pre class="art-body">{{art.art}}</pre>
            <div class="art-title"><i>{{art.created}}</i></div>
        </div>
    {% endfor %}

{% endblock %}
