{% extends "base.html" %}

{% block content %}
    <form class="form-group form-sign" method="post">
        <h2 class="text-center">{% if post_id %}Edit{% else %}New{% endif %} Post</h2>
        <!--has-error-->
        <div class="form-group {% if error %}has-error{% endif %}">
            <label class="control-label" for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{subject}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="content">Content</label>
            <textarea class="form-control" id="content" name="content">{{content}}</textarea>
        </div>
        <div class="form-group has-error">
            <span class="help-block">{{error}}</span>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        <a role="button" class="btn btn-primary" href="/blog{% if post_id %}/{{post_id}}{% endif %}">Cancel</a>
    </form>
{% endblock %}