{% extends "base.html" %}

{% block content %}
    <form class="form-group form-sign" method="post">
        <h2 class="text-center">Write Post</h2>
        <!--has-error-->
        <div class="form-group">
            <label class="control-label" for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{subject}}">
            <span class="help-block">{{error_username}}</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="content">Content</label>
            <textarea class="form-control" id="content" name="content" value="{{content}}"></textarea>
        </div>
        <div class="form-group has-error">
            <span class="help-block">{{error}}</span>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
{% endblock %}