<article>
    <div class="row">
        <div class="col-sm-12">
            <a href="/post/{{p.key().id()}}">
                <h2>{{p.subject}}</h2>
            </a>
            <p class="lead">By {{p.user_name | title}}.</p>
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted {{p.created.strftime("%b %d %Y @ %I:%M%p")}}.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <blockquote class="article-body">
            {{ p._render_text | safe }}
            </blockquote>
        </div>
    </div>
    {% if user %}
    <div class="row">
        <div class="col-sm-12">
            {% if user.name == p.user_name %}          
            <a href="/post/edit/{{p.key().id()}}">Edit Post</a>
            {% else %}
            <form method="post" action="/post/{{p.key().id()}}">
                <button type="submit" name="action" value="like" class="btn btn-primary btn-xs">
                {% if p.liked %}Unlike{% else %}Like this{% endif %}</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <em>{{ p.total_comments }} comment{% if p.total_comments > 1 %}s{% endif %}</em> |
            <em>{{ p.total_likes }} like{% if p.total_likes > 1 %}s{% endif %}</em>
        </div>
    </div>
</article>