{% extends "base.html" %}

{% block content %}
<!--    <div class="text-center">
        <h1>Welcome to lite blog</h1>
        <br />
        <a role="button" href="/login" class="btn btn-primary">Login</a>
        <a role="button" href="/signup" class="btn btn-primary">Sign up</a>
    </div>
-->
    <div class="jumbotron ">
        <h2 class="text-center">Welcome to Lite Blog</h2>
        <hr />
        <ul>
        <li>This is a multi user simple blog, made by Flávio Johansson.</li>
        <li>It's part of Udacity's Fullstack nanodegee.</li>
        <li>Please fell free to test it. Consistent feedbacks are welcome.</li>
        </ul>
    </div>

{% endblock %}
